Source: rocm-hip-on-rocclr
Section: devel
Priority: optional
Maintainer: CHEN Xuan <chenxuan@iscas.ac.cn>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 cmake,
 pkg-config,
 rocm-env (>= 7.0.0),
 rocm-core,
 rocm-cmake,
 rocm-llvm (>= 7.0.0),
 rocm-rocprofiler-register-dev,
 rocm-rocr-dev,
 rocm-comgr,
 rocm-hipcc,
 libedit-dev,
 libffi-dev,
 libglvnd-dev,
 libnuma-dev,
 libxml2-dev,
 libzstd-dev,
 python3-sphinx,
 python3-cppheaderparser,
 terminfo,
 zlib1g-dev,
Standards-Version: 4.7.0
Homepage: https://github.com/ROCm
Vcs-Browser: https://github.com/revyos-rocm/rocm-hip-on-rocclr
Vcs-Git: https://github.com/revyos-rocm/rocm-hip-on-rocclr.git

Package: rocm-hip-on-rocclr
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 rocm-rocr,
 rocm-core,
Conflicts:
 rocm-hipcc,
Description: rocclr with hip binary files
 AMD CLR (Compute Language Runtime) contains source codes for AMD's compute languages runtimes: HIP and OpenCL™.
 HIP is a C++ Runtime API and Kernel Language that allows developers to create portable applications for AMD and NVIDIA GPUs from single source code.
 HIPother provides files required to support non-AMD specific back-end implementation for HIP.

Package: rocm-hip-on-rocclr-dev
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 rocm-hip-on-rocclr,
Conflicts:
 rocm-hipcc,
Description: rocclr with hip development files
 AMD CLR (Compute Language Runtime) contains source codes for AMD's compute languages runtimes: HIP and OpenCL™.
 HIP is a C++ Runtime API and Kernel Language that allows developers to create portable applications for AMD and NVIDIA GPUs from single source code.
 HIPother provides files required to support non-AMD specific back-end implementation for HIP.
